header{
    height:250px;
}

header .logo{
    background-image: url("images/logo.png");
    background-size:300px;
    position: relative;
    display:inline-block;
    width:300px;
    text-indent:-9999999px;
    height:140px;
    top:-20px;
    background-repeat:no-repeat;
}